<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>...</title>

    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</head>
<body>
{% include 'navbar_organisation.html' %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-xl-2 col-lg-2">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-xl-6 col-lg-6 mt-5">
            {% if info_organisation.photo_link %}
                <img class="w-50" src="{{ url_for('static', filename='photos/organisation/{{ info_organisation.photo_link }}') }}">
            {% else %}
                <img class="w-50" src="{{ url_for('static', filename='photos/organisation/icon_org.png') }}">
            {% endif %}

        </div>
        <div class="col-2 col-sm-2 col-md-2 col-xl-2 col-lg-2 d-flex justify-content-right align-items-center mt-5">
            <h3>{{ info_organisation.name }}</h3>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-2 col-sm-2 col-md-2 col-xl-2 col-lg-2">
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-xl-5 col-lg-5">
            <div class="row">
                <div class="col-10 col-sm-10 col-md-10 col-xl-10 col-lg-10">
                <h5 class="d-flex justify-content-center mt-5">
                    Список сотрудников
                </h5>
                {% if list_employee %}
                    <div class="accordion mt-5 mb-5" id="accordionExample">
                        {% for employee in list_employee %}
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="heading{{ employee.id }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ employee.id }}"
                                        aria-expanded="true" aria-controls="collapse{{ employee.id }}">
                                    {{ employee.name }} {{ employee.surname }}, {{ employee.specialty }}
                                </button>
                              </h2>
                              <div id="collapse{{ employee.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ employee.id }}"
                                   data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <form method="get" class="d-flex flex-row-reverse" action="{{ url_for('organisation/private_office.get_detail_employee', employee_id=employee.id) }}">
                                    <button type="submit" class="btn btn-info">Подробнее</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h5 class="mt-5 text-center mb-5">У вас еще нет сотрудников, самое время добавить!</h5>
                {% endif %}
                    <div class="mt-5 d-flex justify-content-center">
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Добавить учителя
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-xl-3 col-lg-3">
            <img class="w-75" src="{{ url_for('static', filename='photos/organisation/icon_teacher.jpg') }}">
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-xl-3 col-lg-3">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-xl-6 col-lg-6 mt-5 mb-5">
          <div class="header bg-info d-flex justify-content-center" style="border: 2px solid; border-bottom: none; border-radius: 20px 20px 0 0;">
            Апрель
          </div>
          <table class="table table-bordered" style="border: 2px solid;">
            <thead>
            <tr>
              <th scope="col">Пн</th>
              <th scope="col">Вт</th>
              <th scope="col">Ср</th>
              <th scope="col">Чт</th>
              <th scope="col">Пт</th>
              <th scope="col">Сб</th>
              <th scope="col">Вс</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>29</td>
              <td>30</td>
              <td>31</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
            </tr>
            <tr>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
            </tr>
            <tr>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
            </tr>
            <tr>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>1</td>
              <td>2</td>
            </tr>
            </tbody>
          </table>
          <div class="row" style="border: 2px solid; border-top: none; border-radius: 0 0 20px 20px; margin-top: -18px; margin-right: 0px; margin-left: 0px;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
              1 событие
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3">
              9:00-19:00
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3">
              Public speaking за 10 часов
            </div>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" id="staticBackdrop">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('organisation/private_office.add_employee') }}">
          <div class="mb-3">
            <input type="text" class="mt-2 form-control" name="login" id="login" required placeholder="Логин">
            <input type="text" class="mt-2 form-control" name="surname" id="surname" required placeholder="Фамилия">
            <input type="text" class="mt-2 form-control" name="name" id="name" required placeholder="Имя">
            <input type="text" class="mt-2 form-control" name="specialty" id="specialty" required placeholder="Должность">
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</body>
</html>