<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/account/style.css') }}">
    <title>Digital skills</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="main-img"><img src="{{ url_for('static', filename='photos/account/main-bg.png') }}" alt="bg"></div>
            <div class="info">
                <div class="header-main">
                    <div class="logo"><img src="{{ url_for('static', filename='photos/account/logo.png') }}" alt="logo" class="img-logo"></div>
                    <div class="desc-logo">
                        <a href="index.html"><p class="title">Digital skills</p></a>
                    <p class="description">Платформа для отслеживания успеваемости ребенка</p>
                    </div>
                    
                </div>
                <div class="form">
                    <div class="titles">
                        <h4 class="login">Вход</h4>
                    <p class="descript-log">в личный кабинет</p>
                    </div>
                    
                    <form action="http://localhost:8000/account/login" method="post" class="forma">
                        <input name="email" type="text" id="email" required placeholder="email"><br>
                        <input name="password" type="password" id="password" required placeholder="Пароль"><br>

                        <input type="submit" value="Войти" class="form-btn">
                    </form>
                    <div class="links">
                        <a href="http://localhost:8000/account/register" class="registr">Зарегистрироваться</a>
                    <a href="http://localhost:8000/account/recovery_password" class="forgot">Забыл пароль?</a>
                    </div>
                    
                </div>
            </div>
        </div>

    </main>
</body>
</html>