*{margin: 0;padding: 0;}
body{
    background: linear-gradient(109.22deg, #0C7BB3 -10.3%, #F2BAE8 102.04%) no-repeat;
    height: 100vh;
    overflow: hidden;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}
.main-img img {width: 100%;}
.header-main{display: flex; margin-bottom: 15px; align-items: center;}
.logo{width: 100px;height: 100px; margin-right: 20px;}
.logo img{width: 100%;}
.titles{margin-bottom: 34px;}
.title{
    width: 355px;
    font-family: Roboto;
text-transform: uppercase;
font-size: 40px;
/* identical to box height */
color: #FFFFFF;
}
.description{
width: 300px;
font-size: 18px;
line-height: 20px;
color: #FFFFFF;
}
.form{
vertical-align: middle;
padding: 35px 44px;
background: #FFFFFF;
border: 1px solid #BCBCBC;
box-sizing: border-box;
border-radius: 30px;
}
.login, .descript-log{
    width: 324px;
margin: 0 auto;
font-size: 30px;
line-height: 30px;
text-align: center;

color: #2B83BA;
}
.descript-log{
    font-size: 22px;
}
a{text-decoration: none;}
.forma{
    text-align: center;
    width: 324px;
    margin: 0 auto;
    margin-bottom: 39px;
}

#email, #password, #name, #code, #email_organisation, #name_organisation, #repeat_password, #surname{
    margin: 10px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    padding: 5px 10px;
}
.form-btn{
    padding: 10px 20px;
    border: none;
    align-content: center;
    margin-top: 25px;
    background: #EBB8E6;
    border-radius: 15px;
    color: #5D0B5F;
}
.links{
    display: flex;
    justify-content: space-around;
}
.links a{
    font-size: 14px;
    line-height: 23px;
    color: #529AEF;
    text-decoration: none;
}
